doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style2.css')

  body
    block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

footer
  p
    | Created by 
    a(href='http://www.seas.upenn.edu/~deveshd') 
        | Devesh Dayal 
    |   and  
    a(href='http://hk.linkedin.com/in/amngupta')
        | Aman Gupta 
    |   in Association with 
    a(href='http://www.dpsi.ac.in')
        |   DPS International