extends layout
block content

    header
      #cssmenu
        ul
          li
            a(href='#')
              span Profile
          li
            a(href='#')
              span Leaderboard
          li
            a(href='#')
              span Rules
          li
            a(href='#')
              span Sign Up!
    .main-body
      table.leaderboard
        thead
          tr
            td Rank
            td Username
            td
              | Level
        each user, index in data
          tr
            td
              | #{index + 1}
            td #{user.username}
            td #{user.current_level}
    footer
      p
        | ©   Privacy Policy   Contact Us   The Developers