extends layout
block content

    header
      #cssmenu
        ul
          li
            a(href='/')
              span Home
          li
            a(href='/leaderboard')
              span Leaderboard
          li
            a(href='/rules')
              span Rules
          li
            if (signed_in)
              a(href='/logout')
                span Sign Out
            else
              a(href='/login')
                span Log In
    .main-body
      table.leaderboard
        thead
          tr
            td Rank
            td Username
            td
              | Level
        each user, index in data
          tr
            td
              | #{index + 1}
            td #{user.username}
            td #{user.current_level}
    footer
      p
        | ©   Privacy Policy   Contact Us   The Developers