extends layout

block content
    header
      #cssmenu
        ul
          li
            a(href='#')
              span Home
          li
            a(href='#')
              span Leaderboard
          li
            a(href='#')
              span About Us
          li
            a(href='#')
              span Sign Up!
    .main-body
      section#login-left
        form(role='form', action="/login",method="post")
          label
            input(type='text', name="username", required='')
            .label-text Username
          label
            input(type='password', name="password", required='')
            .label-text Password
          button Submit
      section#login-right
    footer
      p
        | ©   Privacy Policy   Contact Us   The Developers