extends layout

block content
    header
      #cssmenu
        ul
          li
            a(href='/')
              span Home
          li
            a(href='/leaderboard')
              span Leaderboard
          li
            a(href='/rules')
              span Rules
          li
            a(href='/register')
              span Register
    .main-body
      section#login-left
        form(role='form', action="/login",method="post")
          label
            input(type='text', name="username", required='')
            .label-text Username
          label
            input(type='password', name="password", required='')
            .label-text Password
          h3(style="color: #f00")= message
          button Log in
          br
          br
          a(href="/register")
            span Don't have an account? Register now!
      section#login-right
