extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    header
      #cssmenu
        ul
            li 
                a(href='/play') 
                    span Play
            li 
                a(href='/leaderboard') 
                    span Leaderboard
            li
                a(href='/rules')
                    span Rules
            li
                a(href='/logout')
                    span Sign Out
    .main-body
        form
            h2
                a(href="/play", style="text-decoration:underline; font-weight:none;") Play
            p Welcome #{user.firstname}!
            p Your email is #{user.email}
            p Your school is #{user.school}
            a(href="/logout") Logout
    footer
        p
            | ©   Privacy Policy   Contact Us   The Developers