extends layout

block content
    header
      #cssmenu
        ul
          li
            a(href='#')
              span Home
          li
            a(href='#')
              span Leaderboard
          li
            a(href='#')
              span About Us
          li
            a(href='#')
              span Sign Up!
    .main-body
      form(role='form', action="/register", method="post")
        label
          input(type='text', name="firstname", required='')
          .label-text First Name 
        label
          input(type='text', name="lastname", required='')
          .label-text Last Name 
        label
          input(type='text', name="school", required='')
          .label-text School 
        label
          input(type='text', name="email", required='')
          .label-text Email 
        label
          input(type='text', name="username", required='')
          .label-text Username 
        label
          input(type='password', name="password", required='')
          .label-text Password
        button Submit
        button Cancel
    footer
      p
        | ©   Privacy Policy   Contact Us   The Developers