extends layout

block content
    header
      #cssmenu
        ul
          li
            a(href='/')
              span Home
          li
            a(href='/leaderboard')
              span Leaderboard
          li
            a(href='/rules')
              span Rules
          li
            a(href='/login')
              span Login
    .main-body
      form(role='form', action="/register", method="post")
        label
          input(type='text', name="firstname", required='')
          .label-text First Name 
        label
          input(type='text', name="lastname", required='')
          .label-text Last Name 
        label
          input(type='text', name="school", required='')
          .label-text School 
        label
          input(type='text', name="email", required='')
          .label-text Email 
        label
          input(type='text', name="username", required='')
          .label-text Username 
        label
          input(type='password', name="password", required='')
          .label-text Password
        h3(style="color: #f00")= message
        button Submit
        button Cancel
