#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#cssmenu {
	width: auto;
  	margin: 0;
  	padding: 0;
}
#cssmenu > ul {
  list-style: inside none;
  margin-left: auto;
  padding: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  float: center;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
  margin-left: -3px;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  padding: 12px 20px; 
  background-color: #333333;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
}
#cssmenu > ul > li:first-child > a {
}
#cssmenu > ul > li > a:after {
  content: "";
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;
}
#cssmenu > ul > li > a:hover {
  background-color: white;
  color: #333333;
  outline: 0;
}
#cssmenu ul ul a:hover {
  background-color: white;
  color: #333333;
  outline: 0;
}
#cssmenu > ul > li.has-sub > a:hover:before {
   background-color: white;
  color: #333333;
  outline: 0;
}
